.footer{
    background-color: #0485cf;
}

.content_of_footer{
    font-size: 20px;
    line-height: 21px;
    padding: 17px 20px;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.goals_of_footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 25%;
}

@media all and (max-width: 1200px){
    .content_of_footer{
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .goals_of_footer{
        justify-content: center;
    }

    .footer__goal{
        display: block;
    }

    .footer__goal:first-child{
        margin-left: 35px;
        margin-right: 25px;
    }
 }