.dropdown-pos{
    padding: 5px 0 5px 2px;
    border-radius: 2px;
    cursor: pointer;
}

.dropdown-pos:hover{
    background-color: #dbd0d0;
}

.user_avatar{
    margin-right: 5px;
    background-color: #fff;
    border-radius: 50%;
}

.user__menu {
    padding: 8px 16px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    position: relative;
}

.user__menu-arrow{
   width: 15px;
   height: 10px;
   transition: transform 0.5s;
}

.user__menu-arrow-button{
    position: absolute;
    top: 60px;
    right: 55px;
    background-color: #fff;
    height: 10px;
    width: 10px;
    transform: rotate(45deg);
    z-index:2
}

.user__menu-arrow-dropdown{
    position: absolute;
    top: 70px;
    width: 135px;
    background-color: #fff;
    padding: 8px 7px 6px;
    min-height: 65px;
    font-size: 15px;
    line-height: 15px;
    border-radius: 5px;
}

.user__menu-clicked-arrow{
    transform: rotate(180deg);
}

.user__menu-avatar-arrow{
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer
}

.user__menu-avatar-arrow:hover{
    background-color: #0b5580;
}

